/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/05/2019, 08:36:45 PM
    Author     : usuario1
*/

nav ul a,

nav .brand-logo{
  color: #eceff1;
}
.sidenav-trigger{
  color: #ffe0b2;
}
#Ptitle{
  color: #424242;
}

.background{
  background-color: #303f9f;
}
#wa{
  color: white;
}

#bgt{
    background-color: #303f9f;
}

#tta{
    color: orange;
}

#tt{
    color: #fafafa;
}

#nav, #uldrop, #bttn,#slide-out{
   background-color: #303f9f;
}

#dnone{
  display: none;
}

#tabla{
  background-color: #e65100;
  color: white;
  border-color: black;
  border-radius: 20px;
}


#liOfUlDrop{
  width: 200px;
}
